<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi regista</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home_style.css" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

    <div class="container">

        <h1 th:text="'Scegli un regista per ' + ${movie.title}">Scegli un regista per il film</h1>

        <div class="emptyList" th:if="${directors.isEmpty()}">Non c'è ancora nessun regista da poter scegliere</div>
        <div class="row">

            <div class="col-md-3" th:each="director : ${directors}" th:unless="${directors.isEmpty()}">
                <div class="card" >
                    <a th:href="@{'/admin/addDirectorToMovie' + '/' + ${movie.id} + '/' + ${director.id}}">
                        <img class="" width="100%"  alt="image" th:src= "${director.getPicPath()}"/>
                        <div class="card-body">
                            <h5 th:text="${director.name} + ' ' + ${director.surname}">Dino Risi </h5>
                            <p class="card-text" th:text="${director.dateOfBirth}">yyyy-MM-dd</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>