<!DOCTYPE html>
<html>

<head>
	<title>
		New Movie
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/home_style.css" />
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<h1>Aggiungi un artista</h1>
	<h2>Può essere un attore, un regista o entrambi è indifferente</h2>
	<form th:action="@{/admin/artists}" method="POST" th:object="${artist}">
		<div class="divInForm">
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
		<div class="divInForm">
			<label>Nome dell'artista:</label> <span><input required type="text" th:field="${artist.name}"/></span>
		</div>
		
		<div class="divInForm">
			<label>Cognome dell'artista:</label> <span><input required type="text" th:field="${artist.surname}"/></span>
		</div>

		<div class="divInForm">
			<label>Anno di nascita dell'artista "yyyy-MM-dd" :</label> <span><input type="text" th:field="${artist.dateOfBirth}" /></span>
		</div>
		
		<div class="divInForm">
			<label>Nazionalità dell'artista:</label> <span><input type="text" th:field="${artist.nationality}"  /></span>
		</div>
		
		<!-- <label>Scegli un regista:</label>
        <select required th:field="${movie.director}">
            <option th:each="director : ${directors}" th:value="${director.id}" th:text="${director.name} + ' ' + ${director.surname}"></option>
        </select>  -->

		<div class="divInForm">
			<span><button id="submitButton" type="submit">Conferma inserimento</button></span>
		</div>
	</form>
</body>

</html>