<!DOCTYPE html>
<html>

<head>
	<title>
		New Movie
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/home_style.css" />
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				<h2 class="text-center mb-4">Aggiungi un artista, sia attori che registi</h2>
				<form th:action="@{/admin/artists}" method="POST" th:object="${artist}">

					<span th:text="${messaggioErrore}">Errore</span>

					<div class="mb-3">
						<label for="name" class="form-label">Nome dell'artista:  </label>
						<input type="text" class="form-control" id="name" placeholder="Nome ..." required th:field="${artist.name}">
					</div>
					<div class="mb-3">
						<label for="surname" class="form-label">Cognome dell'artista:  </label>
						<input type="text" class="form-control" id="surname" placeholder="Cognome ..." required th:field="${artist.surname}">
					</div>
					<div class="mb-3">
						<label for="dateOfBirth" class="form-label">Data di nascita: ("yyyy-MM-dd")  </label>
						<input type="date" class="form-control" id="dateOfBirth" placeholder="Data di nascita ... " required th:field="${artist.dateOfBirth}">
					</div>
					<div class="mb-3">
						<label for="nationality" class="form-label">Nazionalita dell'artista:  </label>
						<input type="text" class="form-control" id="nationality" placeholder="Nazionalita ..." required th:field="${artist.nationality}">
					</div>

					<button type="submit" class="btn btn-primary mx-2">Aggiungi</button>
				</form>
			</div>
		</div>
	</div>

</body>

</html>