<!DOCTYPE html>
<html>

<head>
	<title>Manage Movies</title>
	<link rel="stylesheet" href="/css/home_style.css" />
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div><a href="/"><img src="/images/logo-siw.png" class="align-center"/></a></div>
	<h1>Scegli un film da modificare</h1>
	<div th:if="${movies.isEmpty()}">Non ci sono film nel sistema</div>
	<ul>
		<li th:each="movie : ${movies}">
			<a th:href="@{'/admin/formUpdateMovies' + '/' + ${movie.id}}"
				th:text="${movie.title} + ' (' + ${movie.year} + ')'">Up! (2000)</a>
		</li>
	</ul>
</body>

</html>