<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Operazioni Movies</title>
  <link rel="stylesheet" href="/css/home_style.css" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div><a href="/"><img src="/images/logo-siw.png" class="align-center"/></a></div>
		
		<h1>Consulta l'archivio di film</h1>

	<section>
		<form action="/movies" class = central_buttons_section>
			<button onclick=""  class="button"> Mostra tutti i film </button>
		</form>
			
		<form action="/formSearchMovies" class = central_buttons_section>
			<button onclick=""  class="button"> Cerca film per anno </button>
		</form>
	</section>

		<h1>Operazioni per amministratore</h1>
	<section>
		<form action="/admin/formNewMovie" class = central_buttons_section>
			<button onclick=""  class="button"> Inserisci un film </button>
		</form>
		
		<form action="/admin/gestisciMovies" class = central_buttons_section>
			<button onclick=""  class="button"> Gestisci i film nel sistema </button>
		</form>
	</section>

</body>
</html>