<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Operazioni Artisti Admin</title>
  <link rel="stylesheet" href="/css/home_style.css" />
</head>
<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div><a href="/"><img src="/images/logo-siw.png" class="align-center"/></a></div>
		
		<h1>Consulta l'archivio di film</h1>

		<form action="/artists" class = central_buttons_section>
			<button onclick=""  class="button"> Mostra tutti gli artisti </button>
		</form>
		
		<form action="/formSearchArtists" class = central_buttons_section>
			<button onclick=""  class="button"> Cerca artista per nome </button>
		</form>
		
		<h1>Operazioni per amministratore</h1>
		
		<form action="/admin/formNewArtist" class = central_buttons_section>
			<button onclick=""  class="button"> Inserisci un artista </button>
		</form>

</body>
</html>