<!DOCTYPE html>
<html>
<head>
	<title>Cerca Film</title>
	<link rel="stylesheet" href="/css/home_style.css" />
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div><a href="/"><img src="/images/logo-siw.png" class="align-center"/></a></div>
	<h1>Cerca film per anno</h1>
	<form th:action="@{/searchMovies}" method="post">
		<div>Anno: <input required type="text" th:value="${year}" name="year" maxlength="255" />
		</div>
		<span><button type="submit">Cerca</button></span>
	</form>
</body>

</html>