<!DOCTYPE html>
<html>
	<head>
		<title>
			SiwMovie - Homepage
		</title>
		<link rel="stylesheet" href="/css/home_style.css" />
	</head>
	<body>
	<div th:replace="fragments/header :: header"></div>

		<div><img src="/images/logo-siw.png" class="align-center" alt="logo"/></div>
		<h1>Benvenuto nel progetto di S.I.W.</h1>
		<h2>Ecco le categorie di operazioni attualmente in funzione:</h2>
		
		<section >
			<div>
				<form action="/operazioniMovies" >
					<button onclick=""  class="button"> Operazioni su movies </button>
				</form>
				
				<form action="/operazioniArtists">
					<button onclick=""  class="button"> Operazioni su artisti </button>
				</form>
			
				<form action="/operazioniNews">
					<button onclick=""  class="button"> Operazioni su news </button>
				</form>
			</div>
			
		</section>
	</body>
</html>