<!DOCTYPE html>
<html>
  <head>
    <title>News</title>
	<link rel="stylesheet" href="/css/home_style.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <div th:if="${news}">
    
	    <h1 th:text="${news.title}">Titolo della news</h1>
	    <h2 th:text="${news.publishing_date}">Data di pubblicazione</h2>
	    <p th:text="${news.text}">Descrizione della news</p>
	    
    </div>
    <div th:unless="${news}">Non esiste</div>
  </body>
</html>
