<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Operazioni Artisti</title>
  <link rel="stylesheet" href="/css/home_style.css" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div><a href="/"><img src="/images/logo-siw.png" class="align-center"/></a></div>
		
		<h2>Operazioni su Artisti: </h2>
		
			
		<form action="/artists" class = central_buttons_section>
			<button onclick=""  class="button"> Mostra tutti i gli artisti </button>
		</form>
			
		<form action="/formSearchArtists" class = central_buttons_section>
			<button onclick=""  class="button"> Cerca artista per nome </button>
		</form>

</body>
</html>