<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Operazioni News</title>
  <link rel="stylesheet" href="/css/home_style.css" />
</head>
<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div><a href="/"></a><img src="/images/logo-siw.png" class="align-center"/></div>
	
		<h2>Operazioni su News: </h2>
					
		<form action="/allNews" class = central_buttons_section>
			<button onclick=""  class="button"> Mostra tutte le news </button>
		</form>

</body>
</html>